<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <%- include('../templates/partials/navbar'); %>

    <style>
      html {
        background-image: url('https://indianaccent.com/newdelhi/images/home-13.jpg');
        background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          background-size: 100% 100%;
          backdrop-filter: blur(2px);
      }
/* CSS */
.button-11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-11:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
/* 17 */

/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #8cbda9;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
      </style>
</head>
<body style="background:transparent;">

  
<div style="margin-top:40px ;margin-left:28px ;">
  <div class="form-group col-md-6" style="display:flex ; align-items:center; justify-content:center">  
    <h3>EDIT MENU</h3>
  </div>
  

    <form class="row g-3" action="/updatemenu">
      <div class="col-md-3">
        <label for="inputitem" class="form-label">Item Name</label>
        <select id="inputitem" name="iname" class="form-select">
          <% for(let values of results1){%>
            <option><%=values.iname%></option>
            
            <%}%>
        </select>
      </div>
      <div class="col-md-3">
        <label for="inputEmail4" class="form-label">Availablity</label>
        <select id="inputEmail4" name="Availablity" class="form-select">
          
          <option>available</option>
          <option>not available</option>
        </select>
      </div>
      
      
      <div class="row " >
        <div class="col-md-3">
          <label for="inputPassword4" class="form-label">Specialist Chef</label>
          <select id="inputPassword4" name="chef" class="form-select">
            
            <% for(let values of results2){%>
              <option><%=values.sname%></option>
              
              <%}%>
          </select>
        </div>
        <div class="col-md-3" >
        <label for="inputAddress2" class="form-label">Price</label>
        <input type="text" class="form-control" name="Price" id="inputAddress2" placeholder="price">
      </div>
      </div>
      
      
      
      
      <div class="form-group col-md-6" style="display:flex ; align-items:center; justify-content:center">
        <button type="submit"class='button-17' class="btn btn-primary">Update</button>
      </div>
    </form>

    
</div> 


<div style="margin-top:40px ;margin-left:28px ;">   
    <div class="form-group col-md-6" style="display:flex ; align-items:center; justify-content:center"> 
    <h3>ADD ITEM TO MENU</h3>
    </div> 

    <form class="row g-3" action="/additem">
      <div class="col-md-3">
        <label for="inputitem name" class="form-label">Item Name</label>
        <input type="text" class="form-control" name="iname" id="inputitem name" placeholder="Item name">
        
      </div>
      <div class="col-md-3">
        <label for="inputEmail45" class="form-label">Availablity</label>
        <select id="inputEmail45" name="Availablity" class="form-select">
          
          <option>available</option>
          <option>not available</option>
        </select>
      </div>
      
      
      <div class="row " >
        <div class="col-md-3">
          <label for="inputPassword45" class="form-label">Specialist Chef</label>
          <select id="inputPassword45" name="chef" class="form-select">
            
            <% for(let values of results2){%>
              <option><%=values.sname%></option>
              
              <%}%>
          </select>
        </div>

        <div class="col-md-3">
          <label for="inputEmail4" class="form-label">Description</label>
          <select id="inputEmail4" name="desc" class="form-select">
            
            <option>veg</option>
            <option>non-veg</option>
          </select>
        </div>
        
      </div>

  
    <div class="row">   
      <div class="col-md-3" >
        <label for="inputAddress3" class="form-label" >Price</label>
        <input type="text" class="form-control" name="Price" id="inputAddress3" placeholder="price">
      </div>
    </div>
    
    
      
    <div class="form-group col-md-6" style="display:flex ; align-items:center; justify-content:center">
      <button class='button-17'type="submit" class="btn btn-primary">Update</button>
    </div>
  
      
   

    </form>
</div>
 
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</html>