<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <%- include('../templates/partials/navbar'); %>

    <style>
      html {
        background-image: url('https://indianaccent.com/newdelhi/images/home-13.jpg');
        background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          background-size: 100% 100%;
          backdrop-filter: blur(2px);
      }
      </style>
</head>
<body style="background:transparent;">

  
<div style="margin-top:40px ;margin-left:28px ;">
  <div class="form-group col-md-6" style="display:flex ; align-items:center; justify-content:center">  
    <h3>EDIT MENU</h3>
  </div>
  

    <form class="row g-3" action="/updatemenu">
      <div class="col-md-3">
        <label for="inputitem" class="form-label">Item Name</label>
        <select id="inputitem" required name="iname" class="form-select">
          <% for(let values of results1){%>
            <option><%=values.iname%></option>
            
            <%}%>
        </select>
      </div>
      <div class="col-md-3">
        <label for="inputEmail4" class="form-label">Availablity</label>
        <select id="inputEmail4"  required name="Availablity" class="form-select">
          
          <option>available</option>
          <option>not available</option>
        </select>
      </div>
      
      
      <div class="row " >
        <div class="col-md-3">
          <label for="inputPassword4" class="form-label">Specialist Chef</label>
          <select id="inputPassword4" required name="chef" class="form-select">
            
            <% for(let values of results2){%>
              <option><%=values.sname%></option>
              
              <%}%>
          </select>
        </div>
        <div class="col-md-3" >
        <label for="inputAddress2" class="form-label">Price</label>
        <input type="text" class="form-control" required name="Price" id="inputAddress2" placeholder="price">
      </div>
      </div>
      
      
      
      
      <div class="form-group col-md-6" style="display:flex ; align-items:center; justify-content:center">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>

    
</div> 


<div style="margin-top:40px ;margin-left:28px ;">   
    <div class="form-group col-md-6" style="display:flex ; align-items:center; justify-content:center"> 
    <h3>ADD ITEM TO MENU</h3>
    </div> 

    <form class="row g-3" action="/additem">
      <div class="col-md-3">
        <label for="inputitem name" class="form-label">Item Name</label>
        <input type="text" required class="form-control" name="iname" id="inputitem name" placeholder="Item name">
        
      </div>
      <div class="col-md-3">
        <label for="inputEmail45" class="form-label">Availablity</label>
        <select id="inputEmail45" required name="Availablity" class="form-select">
          
          <option>available</option>
          <option>not available</option>
        </select>
      </div>
      
      
      <div class="row " >
        <div class="col-md-3">
          <label for="inputPassword45" class="form-label">Specialist Chef</label>
          <select id="inputPassword45" required name="chef" class="form-select">
            
            <% for(let values of results2){%>
              <option><%=values.sname%></option>
              
              <%}%>
          </select>
        </div>

        <div class="col-md-3">
          <label for="inputEmail4" class="form-label">Description</label>
          <select id="inputEmail4" required name="desc" class="form-select">
            
            <option>veg</option>
            <option>non-veg</option>
          </select>
        </div>
        
      </div>

  
    <div class="row">   
      <div class="col-md-3" >
        <label for="inputAddress3" class="form-label" >Price</label>
        <input type="text"  required class="form-control" name="Price" id="inputAddress3" placeholder="price">
      </div>
    </div>
    
    
      
    <div class="form-group col-md-6" style="display:flex ; align-items:center; justify-content:center">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  
      
   

    </form>
</div>
 
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</html>