<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
</head>
<body style="background-image:url('https://img.freepik.com/premium-photo/cozy-restaurant-with-people-waiter_175935-230.jpg?w=1060') ; background-size:100% 700% ;">
    <%- include('../templates/partials/navbar'); %>
    <div style="width:100% ;height:100%;">
    
    <h1 style="color:#032265;text-align: center;">HOME PAGE</h1>
</div>
</body>
</html>