<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Order Tickets</title>
    
</head>
<body>
    <%- include('../templates/partials/navbar'); %>
    <div>
    
    <h1 style="color:#032265;text-align: center;">Kitchen Order Tickets</h1>
</div>
</body>
</html>