<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation</title>
    <%- include('../templates/partials/navbar'); %>
    <h1 style="color:#032265 ;text-align: center;">Reservation</h1>
    <style>
      html {
        background-image: url('http://www.khyberrestaurant.com/assets/img/IMG/KhyberWebImg-08.jpg');
        background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          background-size: 100% 100%;
          backdrop-filter: blur(2px);
      }
      </style>
</head>
<body style="background:transparent;">

   
<div >
        <!-- <h3>Reservation</h3> -->

    <form class="row g-3" style="display:flex ; align-items:center; justify-content:center ;margin-top: 30px;" action="/views/Reservation" id="Availablity">
      <div class="col-md-3" >
        <label for="inputdate" class="form-label" style="display:flex ; align-items:center; justify-content:center">Reservation Date</label>
        <% if(locals.bool!=0){ %>
            <input type="date" name="date"  required class="form-control" id="inputdate" href="views/home.ejs">
            <%}else{%>
                <input type="date "value=<%=locals.date%> name="date" class="form-control" id="inputdate" href="views/home.ejs">
                <%}%>
    </div>
    <div class="col-12" style="display:flex ; align-items:center; justify-content:center">
        <button type="submit" class="btn btn-primary">Check Available Tables</button>
      </div>
    </form style="display:flex ; align-items:center; justify-content:center ;margin-top: 100px;" >

    <% if(locals.bool==0){ %>
    <form class="row g-4"  action="/reserve" id="reserve" > 

      
       <div class="col-md-3">
        <label for="inputEmail4" class="form-label" style="display:flex ; align-items:center; justify-content:center">Available Tables</label>
        <select id="inputEmail4" required name="table_no" class="form-select">
            <% for(let values of result){%> 
                <option><%=values.table_no%></option>
                <% }%>
            
        </select>
        </div>
        <div class="col-md-3" >
            <label for="inputAddress2" class="form-label" style="display:flex ; align-items:center; justify-content:center">Customer Name</label>
            <input type="text" required class="form-control" name="name" id="cust_name" placeholder="Name">
          </div>
          <div class="col-md-3" >
            <label for="inputAddress2" class="form-label" style="display:flex ; align-items:center; justify-content:center">Customer Email</label>
            <input type="text" required class="form-control" name="Email" id="cust_email" placeholder="Email">
          </div>
          <div class="col-md-3" >
            <label for="inputAddress2" class="form-label" style="display:flex ; align-items:center; justify-content:center">Customer Number</label>
            <input type="number" required  class="form-control" name="Phone Number" id="cust_number" placeholder="Phone Number">
          </div>
        <div style="display:flex ; align-items:center; justify-content:center">
          <div class="col-md-3" >
            <label for="inputAddress2" class="form-label" style="display:flex ; align-items:center; justify-content:center">People Count</label>
            <input type="number" required class="form-control" name="num_peop" id="cust_count" min="0" max="20" placeholder="People Count">
          </div>
        </div>
          <div class="col-12" style="display:flex ; align-items:center; justify-content:center">
            <button type="submit" class="btn btn-primary">Reserve</button>
          </div>
          <input type="hidden" class="form-control" name="date" id="date" value=<%=locals.date%> >
        </form>
        <!-- <p id="why">hhn</p>
        <script>
            document.getElementById("why").innerHTML=document.getElementById('reserve').elements['name'].value;
          </script> -->
      <% }%>
      
      
     <!-- <div class="row " >
        <div class="row " >
        <div class="col-md-3">
          <label for="inputPassword4" class="form-label">Specialist Chef</label>
          <select id="inputEmail4" name="chef" class="form-select">
          </select>
        </div>
        <div class="col-md-3" >
        <label for="inputAddress2" class="form-label">Price</label>
        <input type="text" class="form-control" name="Price" id="inputAddress2" placeholder="price">
      </div>
      </div>-->
      
      
      
      
   

    
    
   
</div>
</body>
</html>