<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suppliers</title>
    
</head>
<body>
    <%- include('C:/Users/Lenovo/DBIS_project_RestaurantDBMS/templates/partials/navbar'); %>
    <div>
    
    <h1 style="color:#01a9bb ;text-align: center;">Suppliers</h1>
</div>
</body>
</html>